@using WebVanPhongPhamHKShop.Models
@using PagedList.Mvc
@model PagedList.PagedList<WebVanPhongPhamHKShop.Models.DanhMuc>

@{
    ViewBag.Title = "Danhmuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin các danh mục</h2>

<p>
    @Html.ActionLink("Thêm mới", "Themdanhmuc")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().TenDM)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDM)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Suadm", new { id = item.MaDM }) |
                @Html.ActionLink("Xóa", "Xoadm", new { id = item.MaDM })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Danhmuc", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
