@model WebVanPhongPhamHKShop.Models.MatHang

@{
    ViewBag.Title = "Suasp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa thông tin mặt hàng</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MaMH)

    <div class="form-group">
        @Html.LabelFor(model => model.MaMH, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div style="font:18px; padding: 5px 0 0 5px"> @ViewBag.MaMH</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenMH, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenMH)
            @Html.ValidationMessageFor(model => model.TenMH)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaBan)
            @Html.ValidationMessageFor(model => model.GiaBan)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="Mota">@Model.MoTa</textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnhBia, new { @class = "control-label col-md-2" })
        <div class="col-md-10">Chọn ảnh mới
            <input type="file" name="fileUpload" />
            <img src="@Url.Content("~/images/"+ Model.AnhBia)" style="width:20%" /> (Ảnh hiện tại)
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgaySX, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgaySX)
            @Html.ValidationMessageFor(model => model.NgaySX)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuongTon, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuongTon)
            @Html.ValidationMessageFor(model => model.SoLuongTon)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaDM, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaDM")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaNSX, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaNSX")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về", "Sanpham")
</div>
