@model WebVanPhongPhamHKShop.Models.MatHang

@{
    ViewBag.Title = "Xoasp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận thông tin cần xóa</h2>

<h3>Bạn muốn xóa mặt hàng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên mặt hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMH)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Ảnh:
        </dt>

        <dd>
            <img src="@Url.Content("~/images/"+ Model.AnhBia)" style="width: 20%" />
        </dd>

        <dt>
            Ngày sản xuất:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySX)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Mã danh mục:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDM)
        </dd>

        <dt>
            Mã nhà sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNSX)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Sanpham")
        </div>
    }
</div>
