@if (Session["Taikhoan"] != null)
{
    <a href="@Url.Action("Login","Admin")" id="btn_Dangnhap" style="width: 90px; margin-top: 7px; float: right ;  font-size: 15px; text-decoration:none; font-weight:bold; cursor: pointer;">Admin</a>
    <p style="float: right; font-size: 15px; margin-top: 5px; margin-right: 20px; margin-left: -22px">|</p>
    <a href="#" style="width: 90px; margin-right:15px ; margin-top: 7px; float: right ;  font-size: 15px; text-decoration:none; font-weight:bold; cursor: pointer;">Welcome @Session["hoten"].ToString()</a>
    <p style="float: right; font-size: 15px; margin-top: 5px; margin-right: 20px; margin-left: -22px">|</p>
    <a href="@Url.Action("DangNhap","NguoiDung")" id="btn_Dangnhap" style="width: 90px; margin-right:15px ; margin-top: 7px; float: right ;  font-size: 15px; text-decoration:none; font-weight:bold; cursor: pointer;">Thay đổi</a>

}
else
{
    <a href="@Url.Action("Login","Admin")" id="btn_Dangnhap" style="width: 90px; margin-top: 7px; float: right ;  font-size: 15px; text-decoration:none; font-weight:bold; cursor: pointer;">Admin</a>
    <p style="float: right; font-size: 15px; margin-top: 5px; margin-right: 20px; margin-left: -22px">|</p>
    <a href="@Url.Action("DangNhap","NguoiDung")" id="btn_Dangnhap" style="width: 90px; margin-right:15px ; margin-top: 7px; float: right ;  font-size: 15px; text-decoration:none; font-weight:bold; cursor: pointer;">Đăng nhập</a>
    <p style="float: right; font-size: 15px; margin-top: 5px; margin-right: 20px; margin-left: -22px">|</p>
    <a href="@Url.Action("DangKy","NguoiDung")" id="btn_Dangnhap" style="width: 90px; margin-right:15px ; margin-top: 7px; float: right ;  font-size: 15px; text-decoration:none; font-weight:bold; cursor:pointer">Đăng Ký</a>
}
