
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
<table align="center">
    <h2 style="text-align: center">ĐĂNG NHẬP</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true);
        <tr style="height:40px">
            <td>Tên đăng nhập:</td>
            <td>
                @Html.TextBox("TenDN")
                <span style="color: red">@ViewData["Loi1"]</span>
            </td>
        </tr>
        <tr style="height:40px">
            <td>Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau")
                <span style="color: red">@ViewData["Loi2"]</span>
            </td>
        </tr>
        
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Đăng nhập" />
            </td>
        </tr>
    }
</table>

